fastapi
uvicorn
pandas
scikit-learn
spacy
pdfminer.six
xgboost
lightgbm
optuna
shap
python-dotenv
python-multipart
matplotlib
seaborn
jinja2
python-jose[cryptography]
pydantic
passlib[bcrypt]
streamlit
plotly
